<h2>Listing products</h2>

<span><%= link "Download CSV", to: product_path(@conn, :export) %></span>

<table class="table">
  <thead>
    <tr>
      <th>Sku</th>
      <th>Name</th>
      <th>Description</th>
      <th>Qty</th>
      <th>Preco</th>
      <th>Ean</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for product <- @products do %>
    <tr>
      <td><%= product.sku %></td>
      <td><%= product.name %></td>
      <td><%= product.description %></td>
      <td><%= product.qty %></td>
      <td><%= product.preco %></td>
      <td><%= product.ean %></td>

      <td class="text-right">
        <span><%= link "Show", to: product_path(@conn, :show, product), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Edit", to: product_path(@conn, :edit, product), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: product_path(@conn, :delete, product), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New product", to: product_path(@conn, :new) %></span>


